[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = git@github.com:kakawait/hugo-tranquilpeak-theme.git
[submodule "public"]
	path = public
	url = git@github.com:alikhil/alikhil.github.io.git
	branch = master
