<p>Hola, I’m <span class="my-name mark-line">Alik Khilazhev</span>, AKA <span class="my-name mark-line">alikhil</span> on the internet. I'm a:</p>
<ul>
  <li>
    <p><strong>Cloud Infrastructure Engineer</strong></p>
    <p>I have {{ sub now.Year 2017 }}+ years of experience in infrastructure development, DevOps and SRE practices. I specialize in
      Kubernetes and the surrounding cloud-native ecosystem.</p>
  </li>
  <li>
    <p><strong>Software Engineer</strong></p>
    <p>I enjoy building platform services and tools that empower others.
        I'm always on the lookout for challenging problems to solve like puzzles by writing clean, efficient code in Go, Python, or whatever language the task calls for.</p>
  </li>
  <li>
    <p><strong>Open Source enthusiast</strong></p>
    <p>I'm passionate about open source software and enjoy building complex, resilient systems by combining various open source tools—like playing with LEGO.
        I also contribute to projects like Terragrunt and Updatecli, among others, to give back to the community.</p>
  </li>
  <li>
    <p>and <strong>Tech Geek</strong></p>
    <p>I'm super curious about technology and love diving deep into systems just for fun. I absolutely love tinkering, experimenting, and exploring the world of self-hosting.</p>
  </li>
</ul>
<p>You can also find me at the links below.</p>