{{- $src := .Get "src" -}}
{{- $resource := resources.Get $src -}}
{{- if $resource -}}
{{- $center := eq (.Get "align") "center" -}}
{{- $alt := .Get "alt" | default (.Get "caption") | default (.Get "title") -}}
{{- $webp := false -}}
{{- if in (slice "image/png" "image/jpeg") $resource.MediaType.Type -}}
    {{- $webp = $resource.Resize (printf "%dx webp q82" $resource.Width) -}}
{{- end -}}
<figure{{ if or (.Get "class") (eq (.Get "align") "center") }} class="
           {{- if eq (.Get "align") "center" }}align-center {{ end }}
           {{- with .Get "class" }}{{ . }}{{- end }}"
{{- end -}}>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <picture>
        {{- with $webp }}
        <source type="image/webp" srcset="{{ .RelPermalink }}">
        {{- end }}
        <img loading="lazy" src="{{ $resource.RelPermalink }}{{- if $center }}#center{{- end }}"
         {{- with $alt }}
         alt="{{ . | markdownify | plainify }}"
         {{- end -}}
         {{- with .Get "width" }} width="{{ . }}"{{ end -}}
         {{- with .Get "height" }} height="{{ . }}"{{ end -}}
        />
    </picture>
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                {{ . }}
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
{{- else -}}
<!-- Image not found: {{ $src }} -->
{{- end -}}
